/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

/* Tablet: da 768px in s첫 */
@media screen and (min-width: 768px) {
  /* Il logo nell'header si allinea a sinistra */
  #topbar {
    justify-content: flex-start;
  }

  /* Il padding del contenuto principale della pagina aumenta */
  .container {
    width: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* Compare il testo "(Dolce Tradizionale)" */
  .recipe-origin {
    display: inline;
  }

  /* La grandezza del titolo diventa pi첫 grande */
  .recipe-title h2 {
    font-size: 2rem;
  }

  /* Le informazioni della ricetta sotto il video si dispongono a griglia */
  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .quick-notes ul li {
    flex-basis: calc(100% / 3 - (40px / 3));
  }

  /* I bottoni social si allargano */
  .social-networks button {
    flex: 1;
  }

  /* compare il banner pubblicitario */
  .ads {
    display: inline-block;
  }

  /* l'immagine nella descrizione della ricetta viene circondata dal testo  */
  .presentation p.clearfix img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Desktop: da 992px in s첫 */
@media screen and (min-width: 992px) {
  /* La grandezza del titolo della ricetta aumenta ancora di pi첫 */
  .recipe-title h2 {
    font-size: 2.1rem;
  }

  /* Le informazioni della ricetta tornano a disporsi una sotto l'altra */
  .quick-notes ul {
    display: block;
  }

  /* Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro */
  .recipe-card {
    display: flex;
    justify-content: space-between;
  }

  .recipe-video {
    flex-basis: calc(100% - 30%);
  }
  .recipe-info {
    flex-basis: calc(100% - 70%);
  }

  /* Compaiono i nomi delle piattaforme social */
  .social-networks .label {
    display: inline;
  }

  /* Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti  */
  footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

/* BONUS - Large Mobile */
@media screen and (min-width: 576px) {
}
